$text-color: #0d99ff;
$background-color: #085085;
$button-color: #0b3e62;
$button-color-warning: #ffa629;
$cart-background-color: #bde3ff;

:root {
  /* default value */
  --text-color: #0d99ff;
  --text-second-color: #fff;
  --text-third-color: #000;
  --background-color: #085085;
  --button-color: #0b3e62;
  --button-color-darker: #072840;
  --button-text-color: white;
  --button-color-warning: #ffa629;
  --button-color-warning-darker: #ff9603;
  --cart-background-color: #bde3ff;
  --cart-background-color-darker: #8acdff;
}